.App {
  text-align: center;
}

.App-main {
  /*background-color: #8f939e;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*color: white;*/
  padding-bottom: 50px;
}

.App-footer {
  background-color: #212121;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  color: white;
}